.btn {
    &.border-btn {
        border: 2rem solid #fff;
        height: 40rem;
        margin-left: 20rem;
        padding: 0 18rem;
        font-size: 18rem;
        line-height: 18rem;
        text-transform: uppercase;
        text-decoration: none;
        opacity: 0.8;
        transition: opacity 150ms ease-in-out;
        color: #fff; // 【按钮文字颜色】默认白色
        font-family: 'Blinker', 'Alibaba PuHuiTi';
        font-weight: 400;
        background: rgba(0, 0, 0, 0.8); // 【按钮背景色】黑色 80% 透明
        align-items: center;
        display: flex;

        i {
            font-size: 21rem;
            position: relative;
            top: 4rem;
        }

        &:hover {
            opacity: 1;
        }

        &:first-child {
            margin-left: 0;
        }

        &.primary {
            border-color: #e14d43; // 【主按钮边框色】红橙色
        }
    }
}
